@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Spartan, sans-serif;
  font-size: 12px;
  background-color: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.player-container {
  height: 500px;
  width: 400px;
  background-color: #ececec;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  position: relative;
  height: 300px;
  width: 300px;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
  cursor: pointer;
}

.progress {
  background: #242323;
  height: 100%;
  border-radius: 5px;
  /* change the show progress */
  width: 60%; 
  transition: width 0.1s linear;
}

.duration-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -25px;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px;
}

.fas {
  font-size: 30px;
  margin-right: 30px;
  color: rgb(129, 129, 129);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}


/* Media Query */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-control {
    top: -10px;
    left: 100px;
  }
}